{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
</head>
<body>
    <div class="form-container">
        <h1>Product Form</h1>
        <div class="form-container-child">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.label_tag }}
                {{ form }}
                <button class="save-product-btn" type="submit">Save Product</button>
            </form>
        </div>
    </div>
</body>
</html>